a{
  font-size: 20px;
  background-color: #ff6347;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 10px;
  margin-top: 30px;
  animation: pulse 2s ease-in-out infinite;
  animation-fill-mode: both;
}

a:hover {
  background-color: #ff4500;

}
i {
  padding: 10px;
}
