@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.wrapper {
    display: flex;
    justify-content:space-between; 
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    gap: 30px;
  }
  
  #quote-box {
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    width: 620px;
    font-size: 1.5em;
}
.quote-text {
    color:linear-gradient(rgb(0,0,0), rgb(255, 0, 0));
    text-align: center;
    font-family: "Playfair Display", serif;
    flex-grow: 1;
    word-wrap: break-word;
    padding: 10px; 
    font-size: 1.2em;
}

.quote-author {
    margin-top: 10px;
    font-size: 1.2em;
    color: #555;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}


  @media (max-width: 768px) {
    #quote-box {
      padding: 15px;
      font-size: 1em; 
    }
  }
  
  @media (max-width: 480px) {
    #quote-box {
      padding: 10px;
      font-size: 0.9em;
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
